<header>
    <div class="container">
        <a href="/" class="logo">minihost</a>
        <nav>
            {{ if .LoggedIn }}
                <a href="/logout">logout</a>
            {{ else }}
                <a href="/login">login</a>
                <a href="/register">register</a>
            {{ end }}
        </nav>
    </div>
</header>
