{{ define "title" }}minihost | home{{ end }}

{{ define "content" }}
    <h1>welcome to minihost</h1>

    {{ if .LoggedIn }}
        <p>welcome, {{ .UserUUID }}</p>
    {{ else }}
        <p>please sign in</p>
    {{ end }}
{{ end }}
