{{ define "title" }}minihost | login{{ end }}

{{ define "content" }}
    <div class="input-container">
        <form action="/login" method="post">
            <div class="input-group">
                <label for="username">username</label>
                <input type="text" name="username" required />
            </div>

            <div class="input-group">
                <label for="password">password</label>
                <input type="password" name="password" required />
            </div>

            <button type="submit">login</button>

            <div class="input-additional-actions">
                <a href="/register">join minihost</a> |
                <a href="#">forgot password?</a>
            </div>
        </form>
    </div>
{{ end }}
