body {
    font-family: "Atkinson Hyperlegible", sans-serif;
    margin: 0;
    height: 4rem;
    background-color: #e5e7eb;
}

header {
    background-color: #059669;
    color: #e5e7eb;
    height: 2rem;
    height: 100%;
}

header a {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 1.25rem;
}

header > div {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    align-items: center;
    height: 100%;
}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

main {
    padding-top: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: normal;
}

.container {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.logo {
    font-size: 1.5rem;
    font-weight: 700;
}

a {
    color: #059669;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* login/registration/input */

.input-container {
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    max-width: 500px;
}

.input-group {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    color: #374151;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #d1d5db;
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box;
}

.input-additional-actions {
    text-align: center;
    margin-top: 1rem;
}

button {
    width: 100%;
    padding: 0.75rem;
    background-color: #059669;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #047857;
}
